body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h1{
    color: darkred;
    font-size: 50px;
    text-decoration: underline;
}

.text{
    font-size: 40px;
}

input{
font-size: 35px;
/* background-color: lightblue; */
color: #B8860B;
text-transform: uppercase;
}

button{
    font-size: 25px;
    border-radius: 40px;
    padding: 20px;
    border: none;
    margin-top: 30px;
    background-color: #FDBB2D;
    font-weight: bold;
}

.text{
    color: darkred;
}


